

{% extends  'base.html' %}
{% block content %}
{% load static %}
<link rel ="stylesheet" type ="text/css" href ="{% static 'login.css' %}">
<div  class ="main">
	<div class ="box">
	<p id ="sin">Sign in<p>
		{% if messages %}
<ol class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ol>
{% endif %}
		<br>
		<form method ="post">
		{% csrf_token %}
	<input type ="text" name ="username" placeholder = "enter username">
	</p>
	<br>
	<input type ="password"  name ="password" placeholder ="enter password">

	<br>
	<button type ="submit">Login</button>
	<p>Don’t have an account?</p><a id ="create" href ="">Create</a>
</form>

</div>
</div>
</div>

{% endblock %}